.avatar {
  border: calc(0.125rem * var(--mantine-scale)) solid var(--mantine-color-dark-filled);
}

.andMore {
  position: relative;
}

.andMore::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.55);
  z-index: 1;
  mix-blend-mode: multiply;
}
